html {
  height: 150%;
  background: linear-gradient(#F9E0E4, #d9bcc1,#210535,#210535);
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.App {
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
}

.appContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Cantarell', 'Droid Sans', 'Fira Sans', 'Helvetica Neue', 'Oxygen', 'Roboto', 'Segoe UI', 'Ubuntu', sans-serif;
  margin: auto;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.code {
  font-family: 'Courier New', Menlo, Monaco, Consolas, monospace;
}

.deleteQuizContainer {
  border: solid #7B337D 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54vw;
  height: 20vh;
  margin-top: 15px;
  background: #f7e7ec8e;
  box-shadow: 6px 6px #240328;
  border-radius: 10px;
  padding: auto;
}

.deleteQuizContainer button {
  background-color: #C874B2;
  border: solid rgb(41, 5, 46) 2px;
  box-shadow: 6px 6px #210535;
  border-radius: 10px;
  font-size: 17px;
  height: 1.7rem;
  justify-content: center;
  margin: auto;
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.deleteQuizContainer button:hover {
  background: whitesmoke;
    box-shadow: 6px 6px #210535;
}

.deleteQuizContainer h1 {
  color: #430D4B;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
}
.divider {
  display: none;
}

.header {
  display: none;
  align-items: center;
  flex-direction: column;
}

.languageSelectorForm {
  box-shadow: 6px 6px #240328;
  background: #f7e7ec8e;
  align-items: center;
  border: solid #7B337D 2px;
  color: #210535;
  display: none;
  flex-direction: column;
  margin: auto;
  margin-top: 60px;
  padding: 4rem;
  row-gap: 2rem;
  width: 50vw;
  border-radius: 10px;
}

.languageSelectorForm button {
  background-color: #C874B2;
  border: solid rgb(41, 5, 46) 2px;
  border-radius: 10px;
  box-shadow: 6px 6px #210535;
  font-size: 17px;
  height: 1.7rem;
  width: 7rem;
  cursor: pointer;
}

.languageSelectorForm button:hover {
  background: whitesmoke;
    box-shadow: 6px 6px #210535;
}


.languageSelectorForm select,
.languageSelectorForm option
{
  background-color: #fadbe5;;
  border: solid rgb(41, 5, 46) 2px;
  border-radius: 10px;
  box-shadow: 6px 6px #210535;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  height: 2rem;
  width: 10rem;
}

.languageSelectorFormContainer select:focus, 
.languageSelectorFormContainer select:hover {
  background: whitesmoke;
    box-shadow: 6px 6px #210535;
}


.languageSelectorFormContainer h1 {
  color: #430D4B;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
}

.loadingButton {
  width: 15rem;
  background-color: #C874B2;
  border: solid rgb(41, 5, 46) 2px;
  border-radius: 10px;
  box-shadow: 6px 6px #210535;
  font-size: 17px;
  height: 2rem;
  justify-content: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.loadingButton:hover {
  background: whitesmoke;
    box-shadow: 6px 6px #210535;
}

.newTestForm {
  align-items: center;

}

.newTestFormContainer {
  box-shadow: 6px 6px #240328;
  background: #f7e7ec8e;
  align-items: center;
  border: solid #7B337D 2px;
  color: #210535;
  display: none;
  flex-direction: column;
  margin: auto;
  margin-top: 60px;
  padding: 4rem;
  row-gap: 2rem;
  width: 50vw;
  border-radius: 10px;
}

.newTestFormContainer button {
  background-color: #C874B2;
  border: solid rgb(41, 5, 46) 2px;
  border-radius: 10px;
  font-size: 17px;
  height: 1.7rem;
  justify-content: center;
  width: 7rem;
  cursor: pointer;
  box-shadow: 6px 6px #210535;
  margin-top: .35em;
  margin-left: 3rem;
}

.newTestFormContainer button:hover {
  background: whitesmoke;
    box-shadow: 6px 6px #210535;
}
.newTestFormContainer h1 {
  color: #430D4B;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
}

.newTestFormContainer input {
  margin-bottom: 2em;
  box-shadow: 6px 6px #210535;
  background-color: #fadbe5;
  border: solid rgb(41, 5, 46) 2px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  height: 2rem;
  width: 12em;
}

.newTestFormContainer input:hover,
.newTestFormContainer input:focus {
  background: whitesmoke;
    box-shadow: 6px 6px #210535;
}

.newTestFormQuestions {
  column-gap: 3rem;
  display: flex;
  grid-template-columns: 1fr 1fr;
}

.openingPage {
  color: #430D4B;
  align-items: center;
  animation: fade-in 3s;
  display: flex;
  flex-direction: column;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 26px;
}

.questionsContainer {
  display: flex;
  width: 50vw;
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:larger;
  border: solid #7B337D 2px;
  padding: 2rem;
  background: #f7e7ec8e;
  box-shadow: 6px 6px hsl(294, 86%, 8%);
  border-radius: 10px;
}


.questionsContainer h1 {
  text-wrap: wrap;
  color: #430D4B;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
}

.questionsContainer p {
  display: flex;
  color: #430D4B;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
;}


.submitFormContainer {
  background: #f7e7ec8e;
  align-content: center;
  border: solid #7B337D 2px;
  display: none;
  grid-template-columns: 1fr;
  padding-bottom: 1rem;
  padding-top: 1rem;
  row-gap: 2rem;
  width: 50vw;
  border-radius: 10px;
  box-shadow: 6px 6px #240328;
}

.submitFormContainer h1 {
  color: #430D4B;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
}

.submitFormContainer button {
  background-color: #C874B2;
  border: solid rgb(41, 5, 46) 2px;
  border-radius: 10px;
  font-size: 17px;
  height: 1.7rem;
  justify-content: center;
  width: 7rem;
  cursor: pointer;
  box-shadow: 6px 6px #210535;
  margin-top: .35em;
  margin-left: 3rem;
}

.submitFormContainer button:hover {
  background: whitesmoke;
    box-shadow: 6px 6px #210535;
}

.submitFormContainer input {
  margin-right: 1em;
  box-shadow: 6px 6px #210535;
  background-color: #fadbe5;
  border: solid rgb(41, 5, 46) 2px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  height: 2rem;
  width: 12em;
}

.submitFormContainer input:focus {
  background: whitesmoke;
    box-shadow: 6px 6px #210535;
}

.submitFormContainer input:hover {
  background: whitesmoke;
  box-shadow: 6px 6px #210535;
}

.submitQuizForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.updateContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54vw;
  height: 40vh;
  margin-top: 15px;
  background: #f7e7ec8e;
  box-shadow: 6px 6px #240328;
  border-radius: 10px;
  padding: auto;
  border: solid #7B337D 2px;
}

.updateContainer h1 {
  color: #430D4B;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
}

.updateContainer textarea {
  background-color: #fadbe5;
  margin-left: 1.5rem;
  border: solid rgb(41, 5, 46) 2px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  height: 2rem;
  margin-bottom: 15px;
  margin-top: 7px;
  width: 18em;
}

.updateContainer textarea:hover {
  background: whitesmoke;
  box-shadow: 6px 6px #210535;
}

.updateContainer button {
  background-color: #C874B2;
  border: solid rgb(41, 5, 46) 2px;
  border-radius: 10px;
  font-size: 17px;
  height: 1.7rem;
  justify-content: center;
  margin: auto;
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 6px #210535;
  cursor: pointer;
}

.updateContainer button:hover {
  background: whitesmoke;
    box-shadow: 6px 6px #210535;
}

.hidden {
  display: none;
}

.hiddenDiv {
  display: flex;
  height: 15vh;
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 50vw;
  border: solid black;
  font-weight:300;
  font-size: 18x;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #372263;
  border: solid rgb(41, 5, 46) 2px;
  border-radius: 10px;
  box-shadow: 6px 6px #240328;
  color: #F5D5E0;
}

.closeMessage{
  font-size: 12px;
  align-items: center;
  justify-content: center;
  display: flex;
}

