html {
  height: 100%;
  background: linear-gradient(#F9E0E4, #d9bcc1,#210535,#210535)
}

.languageSelectorForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  width: 450px;
  margin: auto;
  border: solid black 1px;
  row-gap: 2rem;
  margin-top: 60px;
  color: #210535;
}

.languageSelectorForm select {
  width: 10rem;
  height: 2rem;
  cursor: pointer;
  background-color: #f7e7ec;
  font-size: 18px;
  font-weight: 500;
  box-shadow: 6px 6px rgba(41, 5, 46, 0.749);
  border: solid rgb(41, 5, 46) 2px;
  border-radius: 7px;
}

.languageSelectorForm select:focus {
  background-color: #f3dde4;
  border: black 2px;
}


.languageSelectorForm option {
  width: 7rem;
}

.languageSelectorForm option:active {
  width: 7rem;
}

.languageSelectorForm button {
  width: 7rem;
  height: 1.7rem;
  background-color: #f7e7ec;
  font-size: 17px;
  box-shadow: 6px 6px rgba(41, 5, 46, 0.749);
  border: solid rgb(41, 5, 46) 2px;
  border-radius: 7px;
}

.newTestFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  width: 450px;
  margin: auto;
  border: solid black 1px;
  row-gap: 2rem;
  margin-top: 25px;
  color: #210535;
  background-color: #f3dde4;
}

.newTestFormContainer input {
  display: flex;
  margin-top: 7px;
  margin-bottom: 7px;
  width: 12em;
  height: 2rem;
  cursor: pointer;
  background-color: #f7e7ec;
  font-size: 18px;
  font-weight: 500;
  border: none;
  box-shadow: 6px 6px rgba(41, 5, 46, 0.749);
  border: solid rgb(41, 5, 46) 2px;
  border-radius: 7px;
}

.newTestFormContainer button {
  width: 7rem;
  height: 1.7rem;
  background-color: #f7e7ec;
  font-size: 17px;
  margin: auto;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 6px rgba(41, 5, 46, 0.749);
  border: solid rgb(41, 5, 46) 2px;
  border-radius: 7px;
}