html {
  height: 0%;
  background: linear-gradient( #FFCCEA, #180327,#180327) fixed;
}

* {
  margin: auto;
  padding: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.App {
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
}

.appContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Cantarell', 'Droid Sans', 'Fira Sans', 'Helvetica Neue', 'Oxygen', 'Roboto', 'Segoe UI', 'Ubuntu', sans-serif;
  margin: auto;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.code {
  font-family: 'Courier New', Menlo, Monaco, Consolas, monospace;
}

.createQuizAnswer {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-right: 1rem;
}

.createQuizButtons {
  display: flex;
  column-gap: 5rem;
  margin-bottom: 1rem;
}

.deleteQuizContainer {
  margin-bottom: 1rem;
  border: solid #7B337D 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 54vw;
  height: 20vh;
  margin-top: 10px;
  background: #bc7fcd;
  box-shadow: 6px 6px #240328;
  border-radius: 10px;
  padding: auto;
}

.deleteQuizContainer form {
  padding-right: 3rem;
  /* margin-left: .2rem; */
}

.deleteQuizContainer button {
  background-color: #EC66B2;
  border: solid rgb(41, 5, 46) 2px;
  box-shadow: 6px 6px #210535;
  border-radius: 10px;
  font-size: 17px;
  height: 1.7rem;
  justify-content: center;
  width: 7rem;
  display: inline-block;
  margin-left: 2rem;
  justify-content: center;
  cursor: pointer;
}

.deleteQuizContainer button:hover {
  background: whitesmoke;
    box-shadow: 6px 6px #210535;
}

.deleteQuizContainer h1 {
  color: #28255A;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
}
.divider {
  display: none;
}

.header {
  display: none;
  align-items: center;
  flex-direction: column;
}

.languageSelectorForm {
  height: 20rem;
  box-shadow: 6px 6px #240328;
  background: #bc7fcd;
  align-items: center;
  border: solid #7B337D 2px;
  color: #210535;
  display: none;
  flex-direction: column;
  margin: auto;
  margin-top: 60px;
  width: 49rem;
  border-radius: 10px;
}

.languageSelectorForm button {
  background-color: #EC66B2;
  border: solid rgb(41, 5, 46) 2px;
  border-radius: 10px;
  box-shadow: 6px 6px #210535;
  font-size: 17px;
  height: 1.7rem;
  width: 7rem;
  cursor: pointer;
}

.languageSelectorForm button:hover {
  background: whitesmoke;
    box-shadow: 6px 6px #210535;
}


.languageSelectorForm select,
.languageSelectorForm option
{
  background-color: #FFCCEA;
  border: solid rgb(41, 5, 46) 2px;
  border-radius: 10px;
  box-shadow: 6px 6px #210535;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  height: 2rem;
  width: 10rem;
}

.languageSelectorFormContainer select:focus, 
.languageSelectorFormContainer select:hover {
  background: whitesmoke;
    box-shadow: 6px 6px #210535;
}


.languageSelectorFormContainer h1 {
  color: #28255A;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
}

.newTestForm {
  align-items: center;

}

.newTestFormContainer {
  height: 20rem;
  box-shadow: 6px 6px #240328;
  background: #bc7fcd;
  align-items: center;
  border: solid #7B337D 2px;
  color: #210535;
  display: none;
  flex-direction: column;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  /* padding: 4rem; */
  /* row-gap: 2rem; */
  width: 49rem;
  border-radius: 10px;
}

.newTestFormContainer button {
  background-color: #EC66B2;
  border: solid rgb(41, 5, 46) 2px;
  border-radius: 10px;
  font-size: 17px;
  height: 1.7rem;
  justify-content: center;
  width: 7rem;
  cursor: pointer;
  box-shadow: 6px 6px #210535;
  margin-top: .35em;
  margin-left: 3rem;
}

.newTestFormContainer button:hover {
  background: whitesmoke;
    box-shadow: 6px 6px #210535;
}
.newTestFormContainer h1 {
  color: #28255A;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
}

.newTestFormContainer input {
  margin-bottom: 2em;
  box-shadow: 6px 6px #210535;
  background-color: #FFCCEA;
  border: solid rgb(41, 5, 46) 2px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  height: 2rem;
  width: 12em;
}

.newTestFormContainer input:hover,
.newTestFormContainer input:focus {
  background: whitesmoke;
    box-shadow: 6px 6px #210535;
}

.newTestFormQuestions {
  column-gap: 3rem;
  display: flex;
  grid-template-columns: 1fr 1fr;
}

.openingPage {
  color: #ec7abd;
  text-shadow: 3px 1px #830596;
  align-items: center;
  animation: fade-in 3s;
  display: flex;
  flex-direction: column;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  margin-top: 9rem;
}

.openingPage button {
  width: 15rem;
  background-color: #EC66B2;
  border: solid rgb(41, 5, 46) 2px;
  border-radius: 10px;
  box-shadow: 6px 6px #491171;
  font-size: 17px;
  height: 2rem;
  justify-content: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.openingPage h1 {
  padding-bottom: 4rem;
}

.openingPage button:hover {
  background: whitesmoke;
  box-shadow: 6px 6px #5f1a90; 
}

.questionsContainer {
  margin-top: rem;
  height: 22rem;
  display: flex;
  width: 50vw;
  flex-direction: column;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:larger;
  border: solid #7B337D 2px;
  padding: 1.7rem;
  background: #bc7fcd;
  box-shadow: 6px 6px rgba(41, 5, 46, 0.749);
  border-radius: 7px;
}

.questionsContainer h1 {
  margin-bottom: .5rem;
  color: #28255A;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
}

.questionsContainer p {
  line-height: 2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
;}

.returnButton {
  border: solid #7B337D 2px;
  display: flex;
  justify-content: center;
  width: 54vw;
  margin-top: 15px;
  background: #f7e7ec8e;
  box-shadow: 6px 6px #240328;
  padding: auto;
}



.submitFormContainer {
  background: #f7e7ec8e;
  align-content: center;
  border: solid #7B337D 2px;
  display: none;
  grid-template-columns: 1fr;
  padding-bottom: 1rem;
  padding-top: 1rem;
  row-gap: 2rem;
  width: 50vw;
  border-radius: 10px;
  box-shadow: 6px 6px #240328;
}

.submitFormContainer h1 {
  color: #430D4B;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
}

.submitFormContainer button {
  background-color: #C874B2;
  border: solid #7B337D 2px;
  border-radius: 10px;
  font-size: 17px;
  height: 1.7rem;
  justify-content: center;
  margin: auto;
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 6px 6px #210535;
}

.submitFormContainer button:hover {
  background: whitesmoke;
    box-shadow: 6px 6px #210535;
}

.submitFormContainer input {
  margin-right: 1em;
  box-shadow: 6px 6px #210535;
  background-color: #fadbe5;
  border: solid rgb(41, 5, 46) 2px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  height: 2rem;
  width: 12em;
}

.submitFormContainer input:focus {
  background: whitesmoke;
    box-shadow: 6px 6px #210535;
}

.submitFormContainer input:hover {
  background: whitesmoke;
  box-shadow: 6px 6px #210535;
}

.submitQuizForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.updateContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54vw;
  height: 25rem;
  margin-top: 15px;
  background: #f7e7ec8e;
  box-shadow: 6px 6px #240328;
  border-radius: 10px;
  padding: auto;
  border: solid #7B337D 2px;
}

.updateContainer h1 {
  margin-bottom: .5rem;
  color: #430D4B;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
}

.updateContainer input {
  background-color: #fadbe5;
  margin-left: 1.5rem;
  border: solid rgb(41, 5, 46) 2px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  height: 2rem;
  margin-bottom: 15px;
  margin-top: 7px;
  width: 18em;
}

.updateContainer input:hover {
  background: whitesmoke;
  box-shadow: 6px 6px #210535;
}

.updateContainer button {
  background-color: #C874B2;
  border: solid rgb(41, 5, 46) 2px;
  border-radius: 10px;
  font-size: 17px;
  height: 1.7rem;
  justify-content: center;
  margin: auto;
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 6px #210535;
  cursor: pointer;
}

.updateContainer button:hover {
  background: whitesmoke;
    box-shadow: 6px 6px #210535;
}

.submitFormContainer {
  background: #bc7fcd;
  align-content: center;
  border: solid #7B337D 2px;
  display: none;
  grid-template-columns: 1fr;
  padding-bottom: 1rem;
  padding-top: 1rem;
  row-gap: 2rem;
  width: 50vw;
  border-radius: 10px;
  box-shadow: 6px 6px #240328;
}

.submitFormContainer h1 {
  color: #28255A;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
}

.submitFormContainer button {
  background-color: #EC66B2;
  border: solid rgb(41, 5, 46) 2px;
  border-radius: 10px;
  font-size: 17px;
  height: 1.7rem;
  justify-content: center;
  width: 7rem;
  cursor: pointer;
  box-shadow: 6px 6px #210535;
  margin-top: .35em;
}

.submitFormContainer button:hover {
  background: whitesmoke;
    box-shadow: 6px 6px #210535;
}

.submitFormContainer input {
  margin-right: 1em;
  box-shadow: 6px 6px #210535;
  background-color: #FFCCEA;
  border: solid rgb(41, 5, 46) 2px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  height: 2rem;
  width: 12em;
}

.submitFormContainer input:focus {
  background: whitesmoke;
    box-shadow: 6px 6px #210535;
}

.submitFormContainer input:hover {
  background: whitesmoke;
  box-shadow: 6px 6px #210535;
}

.submitQuizForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.updateContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54vw;
  height: 40vh;
  margin-top: 15px;
  background: #bc7fcd;
  box-shadow: 6px 6px #240328;
  border-radius: 10px;
  padding: auto;
  border: solid #7B337D 2px;
}

.updateContainer h1 {
  color: #28255A;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
}

.updateContainer textarea {
  background-color: #FFCCEA;
  margin-left: 1.5rem;
  border: solid rgb(41, 5, 46) 2px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  height: 2rem;
  margin-bottom: 15px;
  margin-top: 7px;
  width: 18em;
}

.updateContainer textarea:hover {
  background: whitesmoke;
  box-shadow: 6px 6px #210535;
}

.updateContainer button {
  background-color: #EC66B2;
  border: solid rgb(41, 5, 46) 2px;
  border-radius: 10px;
  font-size: 17px;
  height: 1.7rem;
  justify-content: center;
  margin: auto;
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 6px #210535;
  cursor: pointer;
}

.updateContainer button:hover {
  background: whitesmoke;
    box-shadow: 6px 6px #210535;
}

.hidden {
  display: none;
}

.hiddenDiv {
  margin-top: 10px; /* Add margin to create space between text areas and hidden div */
  width: auto;
  max-width: 80%;
  padding: auto;
  font-weight: 300;
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #372263;
  border: solid rgb(41, 5, 46) 2px;
  border-radius: 10px;
  box-shadow: 6px 6px #240328;
  color: #F5D5E0;
}

.closeMessage{
  font-size: 12px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.textAreaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centeringQuestions {
  width: 70%;
  line-height: 2rem;
  margin: auto;
  padding-left: 5rem;
}

.languageSelectorFormContainer,
.updateContainer,
.deleteQuizContainer {
  margin-bottom: .4rem;
}

input::placeholder {
  text-align: center;
  font-size: 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}